.primary-button {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  position: relative;
}

.primary-button .frame {
  align-items: baseline;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.primary-button .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.primary-button .text-wrapper {
  color: #ffffff;
  font-family: "Work Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.primary-button .vector {
  height: 10px;
  position: relative;
  width: 10px;
}

.primary-button .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
